<section class="card">
  <a href="/plant/{{id}}">
    <h3>{{title}}</h3>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>Likes to Bloom in: {{ bloom_time}}</p>
    </div>
  </a>
</section>
