<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">






    <div class="col-md-4" width="">
      <img src="/images/{{image}}">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary plant-card-title">Plants</strong>
          <h3 class="mb-0">{{title}}</h3>
          <div class="mb-1 text-muted">July 2</div>
          <p class="card-text mb-auto">{{short_description}}</p>
          <a href="/post/{{id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">

        </div>
      </div>
    </div>

    {{log posts}}
    {{log post}}
    {{{log post}}}
    {{{log posts}}}