<section class="plant">
    <img src="/images/{{{plant.filename}}}" alt="{{plant.description}}">
    <div class="plant-details">
        <h3>{{plant.title}}</h3>
        <p>Family Name: {{plant.family_name}}</p>
        <p>Likes to Bloom in {{plant.bloom_time}}</p>
        <p>Plant Description: {{plant.features}}</p>
        <p>Care Instructions: {{plant.care_instructions}}</p>
    </div>
</section>