<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">

<h3 class="title">{{post.title}}</h3>
<p>{{post.post_description}}</p>

<h4 class="subtitle">
    <p>What Are Your Thoughts?</p>
  </h4>


<form class="textarea comment-form">
  <div>
    <textarea class="form-control text-center" style="width: 700px;height: 180px;" name="comment-body"
      id="comment" rows="3"></textarea>
  </div>

  <div>
    <button class="btn btn-success" type="submit">add comment</button>
</div>
</form>



<div class="comment-section">
  {{#each post.comments}}
  <section class="comment">
    <h5>
      {{user.username}}
    </h5>
    <p>
      {{comment_text}}
    </p>
  </section>
  {{/each}}
</div>

{{log post}}

<script src="/javascript/comments.js"></script>